apiVersion: v1
kind: Service
metadata:
  name: desktop-pet-service
  labels:
    app: desktop-pet
spec:
  selector:
    app: desktop-pet
  ports:
  - protocol: TCP
    port: 8080
    targetPort: 8080
    name: http
  type: ClusterIP
  # 如果需要外部访问，可以使用 NodePort 或 LoadBalancer
  # type: NodePort
  # 或
  # type: LoadBalancer

